<form  #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">

    <div class="panel panel-primary" >

        <div class="panel-heading">
            <h3 class="panel-title">{{panelTitle}}</h3>
        </div>
        <div class="panel-body">

            <div class="form-group" [class.has-error]="name.invalid && name.touched"
            [class.has-success]="name.valid">
                <label for="name" class="control-label"> Name</label>
                <input id="name" required [(ngModel)]="employee.name" name="name" 
                type="text" class="form-control" #name="ngModel">  
                <span class="help-block" *ngIf="name.invalid && name.touched">
                    Full name is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="email.invalid ">
                <label for="email" class="control-label">Email</label>
                <input id="email" [required]="contactPreference.value=='Email'" email [(ngModel)]="employee.email" name="email" 
                type="text" class="form-control" #email="ngModel"> 
                <span class="help-block" *ngIf="email.errors?.required">
                    Email is required
                </span>
                <span class="help-block" *ngIf="email.errors?.email">
                    Email is invalid
                </span>
            </div>

            <div class="form-group" [class.has-error]="phoneNumber.invalid ">
                <label for="phoneNumber" class="control-label" >Phone Number</label>
                <input id="phoneNumber" [(ngModel)]="employee.phoneNumber" [required]="contactPreference.value=='Phone'"
                name="phoneNumber" type="text" class="form-control" #phoneNumber="ngModel"> 
                <span class="help-block" *ngIf="phoneNumber.invalid">
                    Phone is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="contactPreference.invalid && contactPreference.touched">
                <label class="control-label">Contact Preference</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" value="Email"  required #contactPreference="ngModel"
                        name="contactPreference" [(ngModel)]="employee.contactPreference"> 
                        Email
                    </label>
                    <label  class="radio-inline">
                        <input type="radio" value="Phone" required #contactPreference="ngModel"
                        name="contactPreference" [(ngModel)]="employee.contactPreference">
                        Phone
                    </label>
                </div>
                <span class="help-block" *ngIf="contactPreference.invalid && contactPreference.touched">
                    Contact Preference is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="gender.invalid && gender.touched">
                <label class="control-label">Gender</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" value="Male" required  #gender="ngModel"
                        name="gender" [(ngModel)]="employee.gender"> 
                        Male
                    </label>
                    <label  class="radio-inline">
                        <input type="radio" value="Female" required #gender="ngModel"
                         name="gender" [(ngModel)]="employee.gender">
                        Female
                    </label>
                </div>
                <span class="help-block" *ngIf="gender.invalid && gender.touched">
                    Gender is required
                </span>
            </div>


            <div class="form-group" >
                <div class="form-control">
                    <label class="checkbox-inline">
                        <input type="checkbox"  name="isActive"  #isActive="ngModel"
                         [(ngModel)]="employee.isActive"> 
                        Is Active
                    </label>
                </div>
            </div>

            <div class="form-group" [class.has-error]="department.invalid && department.touched">            
                    <label for="department" class="control-label">
                        Department
                    </label>
                    <select id="department"  name="department" [(ngModel)]="employee.department" 
                    class="form-control" required #department="ngModel" appSelectValidator= "select"> 
                        <option  value="select">Select Department</option>
                       <option *ngFor="let departmentName of departments" [value]="departmentName.id"> 
                            {{departmentName.name}}
                       </option>
                    </select>
                    <span class="help-block" *ngIf="department.errors?.defaultSelected && department.touched">
                        Department is required
                    </span>
            </div> 

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Date of Birth</label>
                    <input id="dateofBirth" type="text" [(ngModel)]="employee.dateOfBirth" 
                    name="dateofBirth" bsDatepicker [bsConfig]="datepickerconfig" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="photoPath">Photo Path</label>
                <input id="photoPath" [(ngModel)]="employee.photoPath" name="photoPath" 
                type="text" class="form-control"> 
            </div>

            <div class="form-group">
                <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary"
                    *ngIf = "employee.photoPath !== '' && employee.photoPath !== null">
                    {{previewPhoto? "Hide":"Show"}} Preview</button>
            </div>

            <div class="form-group">
                <img [src]="employee.photoPath" height="200" width="200" 
                *ngIf="previewPhoto && employee.photoPath !== '' && employee.photoPath !== null">
            </div>

            <!-- <div ngModelGroup="passwordGroup"
            [class.has-error]="confirmPassword.invalid  && confirmPassword.touched && !confirmPassword.errors?.required">
                <div class="form-group" [class.has-error]="password.invalid && password.touched ">
                    <label for="password" class="control-label" >Password</label>
                    <input id="password" [(ngModel)]="employee.password" required  (input)="confirmPassword.control.updateValueAndValidity()"
                    name="password" type="text" class="form-control" #password="ngModel"> 
                    <span class="help-block" *ngIf="password.touched && confirmPassword.errors?.required">
                        Password is required
                    </span>
                </div>

                <div class="form-group" [class.has-error]="confirmPassword.invalid  && confirmPassword.touched">
                    <label for="confirmPassword" class="control-label" >Confirm Password</label>
                    <input id="confirmPassword" [(ngModel)]="employee.confirmPassword" appConfirmEqualValidator="password"
                    required name="confirmPassword" type="text" class="form-control" #confirmPassword="ngModel"> 
                    <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                        Confirm Password is required
                    </span>
                    <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual
                    && !confirmPassword.errors?.required">
                    Password and Confirm Password do not match
                    </span>
                </div>

            </div> -->

        </div>
        
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
        </div>
    </div>

</form>

{{employeeForm.value | json}}
<br/>
our employee Model: {{employee | json}}
